
h1{color:blue;
  text-align: center;
}
top img{width:250px;
 float: right; 
}
h2{color:blue;
  text-align: center;
}
middle img{width:250px;
  float:right;
}
h3{color:blue;
  text-align: center;
}
bottom img{widht:250px;
  float:right;
}
